/* start variables */
:root {
  --mainColor: #2196f3;
  --secondaryColor: #1787e0;
  --mainTransition: 0.3s;
  --mainPadding: 100px;
}
/* End variables */
/* Start globale rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
/* Start media */
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End media */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* End globale rules */
/* Start componant */
.spicial-heading {
  position: relative;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 30px;
  margin: 0 auto 80px;
  text-transform: uppercase;
  font-size: 30px;
  transition: var(--mainTransition);
  z-index: 1;
}
.spicial-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.spicial-heading::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--mainColor);
}
.spicial-heading:hover:before {
  animation: left 0.5s linear forwards;
  z-index: -1;
}
@keyframes left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
    background-color: var(--mainColor);
  }
}
.spicial-heading::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--mainColor);
}
.spicial-heading:hover::after {
  animation: right 0.5s linear forwards;
  z-index: -1;
}
@keyframes right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
    background-color: var(--mainColor);
  }
}
.dots {
  position: absolute;
  background-image: url(../images/dots.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
.onee {
  top: 150px;
  right: 0;
  z-index: -1;
}
.twoo {
  bottom: 150px;
  left: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .dots {
    opacity: 50%;
  }
  .onee {
    top: 170px;
    right: 0;
    z-index: -1;
  }
  .twoo {
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
/* End componant */
/* Start header */
header {
  box-shadow: 0 0 10px #ccc;
  background-color: white;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .container .logo {
  text-decoration: none;
  color: var(--mainColor);
  font-size: 26px;
  font-weight: 800;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: 50px;
  }
}
header .container .nav {
  display: flex;
}
@media (max-width: 767px) {
  header .container .nav {
    margin: auto;
  }
}
header .container .nav > li:hover .mega-menu {
  z-index: 100;
  opacity: 1;
  top: calc(100% + 1px);
}
header .container .nav > li > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  text-decoration: none;
  color: black;
  padding: 0 30px;
  font-size: 18px;
  overflow: hidden;
  transition: var(--mainTransition);
}
@media (max-width: 767px) {
  header .container .nav > li > a {
    padding: 9px;
    font-size: 12px;
    height: 40px;
  }
}
header .container .nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background-color: var(--mainColor);
  transition: var(--mainTransition);
}
header .container .nav > li > a:hover::before {
  left: 0;
}
header .container .nav > li > a:hover {
  color: var(--mainColor);
  background-color: #fafafa;
}
header .container .nav .mega-menu {
  background-color: white;
  position: absolute;
  width: 100%;
  right: 0;
  top: calc(100% + 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 5px solid var(--mainColor);
  gap: 40px;
  z-index: -1;
  opacity: 0;
  transition: var(--mainTransition);
}
@media (max-width: 767px) {
  header .container .nav .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
header .container .nav .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .container .nav .mega-menu .image {
    display: none;
  }
}
header .container .nav .mega-menu .link {
  min-width: 250px;
  flex: 1;
}
header .container .nav .mega-menu .link li {
  position: relative;
}
header .container .nav .mega-menu .link li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  header .container .nav .mega-menu .link:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
header .container .nav .mega-menu .link li a {
  display: block;
  color: var(--mainColor);
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
}
header .container .nav .mega-menu .link li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--mainTransition);
}
header .container .nav .mega-menu .link li:hover:before {
  width: 100%;
}
header .container .nav .mega-menu .link li a i {
  margin-right: 10px;
}
/* End header */
/* Start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .container .text {
  flex: 1;
}
.landing .container .text h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -2px;
}
.landing .container .text p {
  font-size: 23px;
  color: #666;
  max-width: 500px;
  line-height: 1.7;
  margin: 5px auto 0;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
  .landing .container .text p {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 25px;
  }
  .landing .container .text p {
    font-size: 15px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mainColor);
  transition: var(--mainTransition);
}
.landing .down i {
  font-size: 25px;
  animation: bouncing 1.5s infinite;
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End landing */
/* Start article */
.articles {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 15%);
  overflow: hidden;
  transition: box-shadow var(--mainTransition), transform var(--mainTransition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 20%);
}
.articles .container .box img {
  max-width: 100%;
}
.articles .container .box .text {
  padding: 20px;
  border-bottom: 1px solid #e6e6e7;
}
.articles .container .box .text h3 {
  margin: 0 0 10px;
}
.articles .container .box .text p {
  margin: 0;
  line-height: 1.5;
  color: #777;
}
.articles .container .box .read {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .read a {
  color: var(--mainColor);
  text-transform: capitalize;
  font-weight: bold;
}
.articles .container .box .read i {
  color: var(--mainColor);
}
.articles .container .box:hover .read i {
  animation: move 0.5s linear infinite;
}
@keyframes move {
  100% {
    transform: translateX(10px);
  }
}
/* End article */
/* Start gallery */
.gallary {
  background-color: #ececec;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.gallary .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 767px) {
  .gallary .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.gallary .container .card {
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 20%);
}
.gallary .container .card .image {
  position: relative;
  overflow: hidden;
}
.gallary .container .card .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ffffff33;
  opacity: 0;
  z-index: 2;
}
.gallary .container .card .image img {
  transition: var(--mainTransition);
  max-width: 100%;
}
.gallary .container .card .image:hover img {
  transform: scale(1.1) rotate(5deg);
  animation: flash 0.5s linear;
}
.gallary .container .card .image:hover::before {
  animation: flash 0.5s;
}
@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 1;
  }
}
/* End gallery */
/* Start features */
.features {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 767px) {
  .features .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.features .container .feat {
  border: 1px solid #ccc;
  text-align: center;
}
.features .container .feat .image {
  position: relative;
  overflow: hidden;
}
.features .container .one .image::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4403699;
}
.features .container .two .image::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00968899;
}
.features .container .three .image::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03a9f499;
}
.features .container .feat .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 170px 500px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  transition: var(--mainTransition);
}
.features .container .feat:hover .image::after {
  border-width: 170px 500px 170px 0;
  border-color: transparent transparent white transparent;
}
.features .container .feat img {
  max-width: 100%;
}
.features .container .feat .text {
  padding: 20px;
}
.features .container .feat .text h3 {
  font-size: 40px;
  margin: 0 0 40px;
  position: relative;
}
.features .container .feat .text h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 5px;
}
.features .container .one .text h3::after {
  background-color: #f43f36;
}
.features .container .two .text h3::after {
  width: 14%;
  background-color: #009687;
}
.features .container .three .text h3::after {
  width: 24%;
  background-color: #03a8f4;
}
.features .container .feat .text p {
  color: #777;
  font-size: 20px;
  line-height: 1.7;
}
.features .container .feat a {
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 10px 30px;
  font-size: 23px;
  font-weight: bold;
  border: 3px solid transparent;
  border-radius: 6px;
  transition: var(--mainTransition);
}
.features .container .one a {
  color: #f43f36;
  border-color: #f43f36;
  background: linear-gradient(to right, #f43f36 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}
.features .container .two a {
  color: #009687;
  border-color: #009687;
  background: linear-gradient(to right, #009687 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}
.features .container .three a {
  color: #03a8f4;
  border-color: #03a8f4;
  background: linear-gradient(to right, #03a8f4 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}
.features .container .one:hover a {
  background-position: left bottom;
  color: white;
}
.features .container .two:hover a {
  background-position: left bottom;
  color: white;
}
.features .container .three:hover a {
  background-position: left bottom;
  color: white;
}
/* End features */
/* Start TESTIMONIALS */
.TESTIMONIALS {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: #e6e6e7;
}
.TESTIMONIALS .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px 40px;
}
@media (max-width: 767px) {
  .TESTIMONIALS .spicial-heading {
    padding: 5px;
  }
  .TESTIMONIALS .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.TESTIMONIALS .container .content {
  position: relative;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 15%);
}
.TESTIMONIALS .container .content img {
  max-width: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: 0;
}
.TESTIMONIALS .container .content::before {
  content: "";
  position: absolute;
  top: -50px;
  right: -10px;
  width: 100px;
  height: 100px;
  background-color: #e6e6e7;
  border-radius: 50%;
}
.TESTIMONIALS .container .content h3 {
  margin: 0 0 10px;
}
.TESTIMONIALS .container .content h4 {
  font-weight: normal;
  margin: 0 0 10px;
  color: #777;
}
.TESTIMONIALS .container .content .stars .fa-solid {
  color: #ffc107;
}
.TESTIMONIALS .container .content p {
  color: #777;
  line-height: 1.5;
}
/* End TESTIMONIALS */
/* Start Team */
.team {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  position: relative;
}
@media (max-width: 767px) {
  .team .spicial-heading {
    padding: 5px;
  }
  .team .spicial-heading::before {
    left: -20px;
  }
  .team .spicial-heading::after {
    right: -20px;
  }
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
@media (max-width: 767px) {
  .team .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.team .container .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--mainTransition);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .container .card {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .container .card img {
  max-width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--mainTransition);
}
.team .container .box:hover img {
  filter: grayscale(100%);
}
.team .container .card .social {
  text-align: center;
}
.team .container .card .social i {
  display: block;
  padding: 20px;
  color: #777;
}
.team .container .card .social a:hover i {
  color: var(--secondaryColor);
}
.team .container .text {
  padding-left: 80px;
}
.team .container .text h3 {
  color: var(--mainColor);
  font-size: 25px;
  margin: 20px 0 0;
}
.team .container .text p {
  margin: 10px 0 30px;
}
/* End Team */
/* Start service */
.service {
  position: relative;
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: #e6e6e7;
}
.service .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .service .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.service .container .srv {
  position: relative;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 15%);
  counter-increment: service;
  transition: var(--mainTransition);
}
.service .container .srv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--mainColor);
  transition: var(--mainTransition);
}
.service .container .srv:hover:before {
  width: 100%;
}
.service .container .srv:hover {
  transform: translateY(-10px);
}
.service .container .srv i {
  display: block;
  text-align: center;
  margin: 30px auto 20px;
  font-size: 60px;
  color: #d5d5d5;
}
.service .container .srv h3 {
  color: var(--mainColor);
  font-size: 25px;
  text-align: center;
  margin: 0 0 40px;
}
.service .container .srv .text {
  text-align: right;
  background-color: #f9f9f9;
  padding: 15px;
  position: relative;
}
.service .container .srv .text::before {
  content: "0" counter(service);
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--mainColor);
  width: 80px;
  height: 100%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}
.service .container .srv .text::after {
  content: "";
  position: absolute;
  left: 75px;
  top: 0;
  height: calc(100% + 0.4px);
  width: 50px;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}
.service .container .srv .text a {
  color: var(--mainColor);
}
/* End service */
/* Start skills */
.skills {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .skills .container .image {
    display: none;
  }
}
.skills .container .progress {
  flex: 1;
}
.skills .container .progress .bar {
  text-transform: uppercase;
}
.skills .container .progress .bar h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .container .progress .bar h3 span {
  color: var(--mainColor);
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 4px;
}
.skills .container .progress .bar .fill {
  height: 30px;
  background-color: #eee;
  position: relative;
}
@media (max-width: 767px) {
  .skills .container .progress .bar .fill {
    height: 20px;
  }
}
.skills .container .progress .bar .fill span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--mainColor);
}
.skills .fill .one {
  animation: width 0.5s linear;
}
@keyframes width {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}
.skills .fill .two {
  animation: width2 0.5s linear;
}
@keyframes width2 {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}
.skills .fill .three {
  animation: width3 0.5s linear;
}
@keyframes width3 {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}
.skills .fill .four {
  animation: width 0.5s linear;
}
@keyframes width4 {
  0% {
    width: 0;
  }

  100% {
    width: 88%;
  }
}
/* End skills */
/* Start work */
.work {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: #e6e6e7;
}
@media (max-width: 767px) {
  .work .spicial-heading {
    padding: 5px;
  }
  .work .spicial-heading::after {
    right: -20px;
  }
  .work .spicial-heading::before {
    left: -20px;
  }
}
.work .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 991px) {
  .work .container {
    flex-direction: column;
  }
}
.work .container .image img {
  max-width: 100%;
}
.work .container .jobs .job {
  display: flex;
  align-items: center;
  background-color: #f5f6f6;
  padding: 30px;
  border: 1px solid white;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 767px) {
  .work .container .job {
    flex-direction: column;
    text-align: center;
  }
}
.work .container .jobs .job::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: var(--mainTransition);
  z-index: -1;
}
.work .container .jobs .job:hover:before {
  width: 110%;
  height: 110%;
}
.work .container .jobs img {
  max-width: 60px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .work .container .jobs img {
    margin: 0 0 30px;
  }
}
.work .container .jobs .job .text h3 {
  margin: 0;
  font-size: 22px;
}
.work .container .jobs .job .text p {
  margin: 10px 0 0;
  color: #777;
  line-height: 1.7;
  font-size: 18px;
}
/* End work */
/* Start event */
.events {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  position: relative;
}
@media (max-width: 767px) {
  .events .spicial-heading {
    padding: 5px;
  }
  .events .spicial-heading::after {
    right: -20px;
  }
  .events .spicial-heading::before {
    left: -20px;
  }
}
.events .container {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .events .container {
    flex-direction: column;
  }
}
.events .container .image img {
  max-width: 450px;
}
@media (max-width: 767px) {
  .events .container .image img {
    max-width: 100%;
  }
}
.events .container .content {
  flex: 1;
}
@media (max-width: 767px) {
  .events .container .content {
    max-width: 100%;
  }
}
.events .container .content .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .container .content .timer {
    gap: 3px;
  }
}
.events .container .content .timer .count {
  border: 1px solid #d4d4d4;
  padding: 20px 10px 0;
  border-radius: 6px;
  width: 90px;
  transition: var(--mainTransition);
}
@media (max-width: 767px) {
  .events .container .content .timer .count {
    width: 80px;
    padding: 20px 0 0;
  }
}
.events .container .content .timer .count:hover {
  border-color: var(--mainColor);
}
.events .container .content .timer .count span {
  display: block;
  color: var(--mainColor);
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .events .container .content .timer .count span {
    font-size: 20px;
  }
}
.events .container .content .timer .count p {
  margin: 0;
  padding: 10px 0 10px;
  border-top: 1px solid #d4d4d4;
  transition: var(--mainTransition);
}
.events .container .content .timer .count:hover p {
  border-color: var(--mainColor);
}
.events .container .content .text h3 {
  margin: 30px 0 20px;
  font-size: 30px;
}
.events .container .content .text p {
  color: #777;
  font-size: 18px;
  line-height: 1.7;
}
.events .form .filld {
  width: 600px;
  margin: 30px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
.events .form .filld input[type="email"] {
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
}
.events .form .filld input[type="submit"] {
  border-radius: 50px;
  border: none;
  padding: 20px;
  color: white;
  background-color: var(--mainColor);
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 767px) {
  .events .form .filld input[type="email"],
  .events .form .filld input[type="submit"] {
    border-radius: 1px;
  }
}
.events .form .filld input[type="submit"]:hover {
  background-color: var(--secondaryColor);
}
@media (max-width: 767px) {
  .events .form .filld {
    flex-direction: column;
    max-width: 90%;
    border-radius: 1px;
    margin: 10px auto;
    padding: 20px;
  }
}
/* End event */
/* Start pricing */
.pricing {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-color: #e6e6e7;
  position: relative;
}
@media (max-width: 767px) {
  .pricing .spicial-heading {
    padding: 5px;
  }
  .pricing .spicial-heading::before {
    left: -20px;
  }
  .pricing .spicial-heading::after {
    right: -20px;
  }
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .pricing .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.pricing .container .price {
  background-color: white;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.pricing .container .price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--mainTransition);
  z-index: -1;
}
.pricing .container .price::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--mainTransition);
  z-index: -1;
}
.pricing .container .price:hover:before,
.pricing .container .price:hover::after {
  width: 100%;
}
.pricing .container .most {
  position: absolute;
  top: 44px;
  right: -15px;
  width: 130px;
  height: 40px;
  padding-left: 10px;
  background-color: var(--secondaryColor);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: rotate(90deg);
  font-weight: bold;
}
.pricing .container .most::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  border-width: 22px;
  border-color: transparent white transparent transparent;
  border-style: solid;
}
.pricing .container .price h3 {
  text-align: center;
  font-size: 25px;
  margin: 0 0 20px;
}
.pricing .container .price img {
  width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .container .price span {
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  font-size: 70px;
  font-weight: bold;
  color: var(--mainColor);
}
.pricing .container .price h4 {
  color: #777;
  font-weight: normal;
  margin: 10px 0 30px;
  text-align: center;
}
.pricing .container .price .feat {
  margin-bottom: 20px;
}
.pricing .container .price .feat .line {
  display: flex;
  align-items: center;
  position: relative;
}
.pricing .container .price .feat .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: 1px;
  background-color: #eee;
}
.pricing .container .price .feat .line i {
  color: var(--mainColor);
  margin-right: 10px;
  font-size: 23px;
}
.pricing .container .price .feat .line p {
  margin: 20px 0;
}
.pricing .container .price input[type="submit"] {
  background-color: white;
  border: 1px solid var(--mainColor);
  border-radius: 6px;
  padding: 15px;
  color: var(--mainColor);
  font-weight: bold;
  display: block;
  margin: 0 auto 20px;
  transition: var(--mainTransition);
}
.pricing .container .price input[type="submit"]:hover {
  cursor: pointer;
  border-color: white;
  color: white;
  background-color: var(--mainColor);
}
.pricing .one,
.pricing .two {
  z-index: 0;
}
/* End pricing */
/* Start video */
.video {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
}
.video .container .top {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  border: 1px solid #ddd;
}
@media (max-width: 767px) {
  .video .container .top {
    flex-direction: column;
  }
}
.video .top .list {
  background-color: white;
  min-width: 250px;
}
.video .top .list .title {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 20px;
  font-weight: bold;
}
.video .top .list ul li {
  padding: 20px;
  cursor: pointer;
  transition: var(--mainTransition);
  border-top: 1px solid #ececec;
}
.video .top .list ul li:hover {
  color: var(--mainColor);
}
.video .top .list ul li span {
  display: block;
  color: #777;
  margin-top: 10px;
}
.video .top .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.video .top .main img {
  max-width: 100%;
}
.video .top .main .text {
  background-color: white;
}
.video .top .main .text p {
  padding: 20px;
  margin: 0;
}
/* End video */
/* Start stat */
.stat {
  padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding);
  background-image: url(../images/stats.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}
.stat .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 90%;
  z-index: -1;
}
.stat h2 {
  font-size: 40px;
  text-align: center;
  margin: 0 0 30px;
}
.stat .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stat .container .box {
  background-color: white;
  text-align: center;
  padding: 30px 15px;
  opacity: 0.8;
  position: relative;
}
.stat .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  height: 0;
  background-color: var(--mainColor);
  transition: 0.8s;
}
.stat .container .box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  background-color: var(--mainColor);
  transition: 0.8s;
}
.stat .container .box:hover:after,
.stat .container .box:hover::before {
  width: 2px;
  height: 100%;
}
.stat .container .box i {
  font-size: 40px;
}
.stat .container .box h3 {
  font-size: 50px;
  margin: 10px 0 0;
}
.stat .container .box p {
  margin: 0;
  color: var(--mainColor);
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
/* End stat */
/* Start discount */
.discount .cont {
  display: flex;
}
@media (max-width: 767px) {
  .discount .cont {
    flex-direction: column;
  }
}
.discount .cont .info {
  flex-basis: 50%;
  text-align: center;
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  z-index: 1;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount .cont .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1787e0f7;
  z-index: -1;
}
.discount .cont .info .content {
  padding: 50px;
}
.discount .cont .info .content img {
  width: 300px;
  max-width: 100%;
}
.discount form {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 38px;
}
.discount form h2 {
  margin: 0 0 20px;
}
.discount form input,
.discount form textarea {
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline-style: none;
  background-color: #f9f9f9;
  padding: 20px;
  width: 300px;
  max-width: 100%;
}
.discount form textarea {
  resize: none;
  height: 200px;
}
.discount form input[type="submit"] {
  background-color: var(--mainColor);
  color: white;
  font-size: 18px;
  font-weight: bold;
}
/* End discount */
/* Start footer */
footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .container .col h1 {
  margin: 0 0 30px;
  color: white;
  font-size: 40px;
}
footer .container .col .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  color: #b9b9b9;
  font-size: 22px;
  padding: 20px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
footer .container .col .social .face:hover {
  background-color: #1877f2;
  color: white;
}
footer .container .col .social .twi:hover {
  background-color: #1c96e8;
  color: white;
}
footer .container .col .social .inst:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}
footer .container .col p{
  color: #b9b9b9;
}
footer .container .col .link li{
  padding: 15px 0;
  border-bottom: 1px solid #444;
  transition: var(--mainTransition);
}
footer .container .col .link li:hover{
  padding-left: 10px;
}
footer .container .col .link li:last-child{
  border: none;
}
footer .container .col .link li i{
  color: var(--mainColor);
  margin-right: 10px;
}
footer .container .col .link li span{
  color: #b9b9b9;
}
footer .container .col .loca div{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
footer .container .col .loca div i{
  font-size: 25px;
  color: var(--mainColor);
  margin-right: 10px;
}
footer .container .col .loca div .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .container .col .loca div span{
  position: relative;
  top: 17px;
  margin-bottom: 10px;
  color: #b9b9b9;
  font-size: 16px;
}
@media (max-width: 767px) {
  footer .container .col .loca div{
    flex-direction: column;
  }
  footer .container .col .loca div i{
    margin: 0;
  }
}
footer .footer-gallery img {
  width: 70px;
  border: 3px solid white;
  margin-right: 5px;
}
footer .love{
  padding: 20px;
  text-align: center;
  color: white;
  border-top: 1px solid #444;
  margin: 0;
}
/* End footer */
